<footer class="py-1 bg-dark">
    <br>
<div class="container">
    <div class="row">

      <!-- DIV Contains "Remo" and a 2020 Copyright -->
      <div class="col-12 col-md">
        <h1 class="d-block mb-3 text-white">Conation</h1>
        <small class="d-block mb-1 text-muted">&copy; 2020</small>
      </div>

      <!-- This is an empty column to space the other ones out a bit better (do not delete) -->


      <!-- Quicklinks (bring you to various pages on the app) -->
      <div class="col-6 col-md text-white">
        <h5>Quicklinks</h5>
        <ul class="list-unstyled text-body">
          <li><a class="text-muted" href="/">Welcome Page</a></li>
          <li><a class="text-muted" href="/registration">Create an Account</a></li>
          <li><a class="text-muted" href="/login">Sign-In</a></li>
        </ul>
      </div>

      <!-- Resources (Non-functional right now, wanted to link to README and License) -->

      <div class="col-6 col-md text-white">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Documentation</a></li>
          <li><a class="text-muted" href="#">Licensing</a></li>
          <li><a class="text-muted" href="#">User Support</a></li>

        </ul>
      </div>

      <!-- If we were a real company we could use these :P -->
      <div class="col-6 col-md text-white">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/">Conation</a></li>
          <li><a class="text-muted" href="/about">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
        </ul>
      </div>
    </div>
</div>
</footer>