body {
  padding-top: 56px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.btn-main {
  color: #fff;
  background-color: #354f52;
  border-color: #354f52;
}

.btn-main:hover {
  color: #fff;
  background-color: #27393b;
  border-color: #1d2829;
}