<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Insert Business Name Here</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js" rel="stylesheet"></script>
    <script src="main.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/navbar-user') %>

    <header>
        <div id="webpage-big-picture">
            <div class="carousel-inner">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-color: #52796f">
                    <div class="col-lg-12 text-center">
                        <h1 class="display-4 text-white mt-5 mb-2">Business Name</h1>
                        <p class="lead mb-5 text-white-50">Extra Business Information</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-8">
                <div class="card">
                    <h2 class="card-header">About Us</h2>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Aliquam malesuada bibendum arcu vitae
                            elementum curabitur vitae nunc. Viverra accumsan in nisl nisi scelerisque eu. Porttitor
                            eget dolor morbi non arcu risus quis varius quam. A iaculis at erat pellentesque adipiscing
                            commodo elit. Ut pharetra sit amet aliquam id diam maecenas. Leo vel fringilla est
                            ullamcorper eget nulla facilisi. Eu mi bibendum neque egestas congue quisque. Sagittis
                            vitae et leo duis ut diam. Mauris nunc congue nisi vitae. Sollicitudin nibh sit amet commodo
                            nulla. Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. </p>
                        <p class="card-text">Arcu cursus euismod quis viverra nibh. Gravida arcu ac tortor dignissim
                            convallis aenean et. Bibendum ut tristique et egestas quis ipsum suspendisse ultrices.
                            Auctor eu augue ut lectus arcu bibendum at varius. Faucibus scelerisque eleifend donec
                            pretium vulputate sapien. Feugiat sed lectus vestibulum mattis. Congue nisi vitae suscipit
                            tellus mauris. Ipsum dolor sit amet consectetur adipiscing elit ut. Erat pellentesque
                            adipiscing commodo elit. Est pellentesque elit ullamcorper dignissim cras. Venenatis cras
                            sed felis eget velit aliquet. Sit amet consectetur adipiscing elit ut aliquam purus. Sed
                            lectus vestibulum mattis ullamcorper velit sed ullamcorper. Ultricies leo integer malesuada
                            nunc vel risus. A diam sollicitudin tempor id eu nisl nunc mi. Risus nec feugiat in
                            fermentum posuere urna nec tincidunt. Quis eleifend quam adipiscing vitae proin. Placerat
                            orci nulla pellentesque dignissim. Mi ipsum faucibus vitae aliquet nec ullamcorper. Id
                            porta nibh venenatis cras sed felis eget velit aliquet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <h4 class="card-header">Support Us!</h4>
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5joTSfhtGz3w7AD8Gbq_MG1x54hpYdEQHYsTSNvIsaBQCa8h1&usqp=CAU" alt="image to go here">
                <div class="card-body">
                    <p class="card-text">Mi ipsum faucibus vitae aliquet nec ullamcorper. Id
                        porta nibh venenatis cras sed felis eget velit aliquet.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-main float-right">Donate!</a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  </body>


</body>
</html>