html, body {
  width: 100%;
  height: 100%;
  
}

body {
  padding-top: 56px;
  background-color: #e8e7e3;
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.img-right {
  float: right;
}

.carousel-item {
  min-height: 300px;
  max-height: 2vw;
  width: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.btn-main {
  color: #fff;
  background-color: #354f52;
  border-color: #354f52;
}

.btn-main:hover {
  color: #fff;
  background-color: #27393b;
  border-color: #1d2829;
}

.navbar-nav {
  margin: 0;
  padding: 7.5px 15px;
}

.center{
  text-align: center;
}

#two-cards {
  margin-right: 0px;
  margin-left: 0px;
}

#registration-card-photo {
  /* height: 550px; */
  height: 50%;
}

#SarahBody {
  background-color: #52796f
}

.carousel-conation{
  height: 30vh;
}

.carousel-two{
  height: 300pt;
}

.item-img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

/* ↓ Business Page ↓ */
#business-header {
  margin-top: 3vw;
}

#business-image {
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: 20vw;
  border-radius: 5px;
}

.nav-link {
  color: black;
}

.nav-link.active {
  background-color: #354f52 !important;
}

.nav-item{
  text-align: right;
}

.product-card {
  margin: auto;
}
/* ↑  Business Page ↑ */