<br>
<div class="container welcome">
    <h1>Who Are We?</h1>
    <p class="lead font-weight-normal">
        We're Team 8, a team of four computing students specifically created by the Bristish Columbia Institute of 
        Technology to improve the world during the COVID-19 crisis. With each of us having a passion for 
        small local businesses, we decided as a group to design a web application to help businesses survive 
        this pandemic. 

    </p>

</div>
<hr class="featurette-divider">



<div class="container">
    <p class="lead">
      <h1 class="team">Meet the team!</h1>
    </p>
    <!-- Row for Individuals -->
    <div class="row teamnames">
      <!-- Arjun -->
      <div class="col-lg-6">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" src="https://img.pokemondb.net/artwork/large/jigglypuff.jpg" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Ethan</title><rect width="100%" height="100%" fill="#777"/></img>
        <h2>Arjun Dhaliwal</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View website &raquo;</a></p>
      </div>
      <!-- Hudson -->
      <div class="col-lg-6">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Arjun</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Hudson McManus</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View website &raquo;</a></p>
      </div>
    </div>
    <div class="row teamnames">
    <!-- Nicholas -->
      <div class="col-lg-6">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Vivian</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Nicholas Lisicin-Wilson</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View website &raquo;</a></p>
      </div>
      <!-- Sarah -->
      <div class="col-lg-6">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Vivian</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Sarah Eslamdoust</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View website &raquo;</a></p>
      </div>
    </div>
</div>