
<div class="mb-5 container">
    <br>
    <h1 class="welcome">Who Are We?</h1>
    <div class="welcome2">
        <p class="lead">We're just regular people who care about regular people.</p>
        <p> Conation is an app developed by four BCIT computing students, brought together by fate as "DTC Team 08".</p>
        <p> COVID-19 has uprooted the daily lives of everyone, including us. Being computing students, it was easy for us to
            transition our studies online. That being said, this crisis is still a crisis, and it's <i>still not easy. </i> Luckily, our group of
            energetic and enthusiastic students have each other to rely on, but we know that is not the case for everyone. 
            And we also know it's even harder for people with more at stake during this pandemic. </p>
        <p> Conation strives to help friends, family, colleagues and neighbours. We're focused on supporting the economy
            through the people most vulnerable; the people we hold closest to us.</p>
        <!-- <p>We're the opposite of immediate gratification. We know that if we <b>support now, we'll <i>reap the benefits later.</i></b></p> -->
        <p>But by now you're probably wondering "Who is this 'us' you speak of?", and we're ready for you to scroll down and finally meet our team.</p>
    </div>
</div>

<hr>

<div class="container">
    <h1 class="team my-5">Meet the team!</h1>
    <!-- Row for Individuals -->
    <div class="row">
      <!-- Arjun -->
        <div class="col-lg-6 enterRight">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" src="https://img.pokemondb.net/artwork/large/jigglypuff.jpg" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Ethan</title><rect width="100%" height="100%" fill="#777"/></img>
            <br>
            <h2>Arjun Dhaliwal</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View website &raquo;</a></p>
            <br>
        </div>
        <!-- Sarah -->
        <div class="col-lg-6 enterRight">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" src="src/images/sarahInGhana.jpg" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Ethan</title><rect width="100%" height="100%" fill="#777"/></img>
            <br>
            <h2>Sarah Eslamdoust</h2>
            <p> Extremely motivated to continually learn and develop new skills. Since graduating high school, I've
                challenged myself to grow by starting a business after teaching myself online marketing and spending
                four months volunteering in West Africa for my first solo international trip. I hope to positively
                change the lives of myself and others through the power that programming provides us.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Read More... &raquo;</a></p>
            <br>

        </div>
    </div>
    <div class="row">
        <!-- Nicholas -->
        <div class="col-lg-6 enterLeft">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" src="src/images/nicholas.jpg" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Nicholas</title><rect width="100%" height="100%" fill="#777"/>
            <br>
            <h2>Nicholas Lisicin-Wilson</h2>
            <p>I'm finishing my second term as a CST student at BCIT. My background is in literature and communication, graduating from SFU with a B.A. in English and a minor in Publishing. In my spare time I sing and dance with the Vancouver Men's Chorus, play video games, and eat pizza.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View website &raquo;</a></p>
            <br>
        </div>
        <!-- Hudson -->
        <div class="col-lg-6 enterLeft">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Arjun</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <br>
            <h2>Hudson McManus</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View website &raquo;</a></p>
            <br>
        </div>
    </div>
</div>

