<header>
<div id="webpage-big-picture">
    <div class="carousel-inner">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-color: #52796f">
            <div class="col-lg-12 text-center">
                <h1 class="display-4 text-white mt-5 mb-2"><%= businessName %></h1>
                <p class="lead mb-5 text-white-50">Extra Business Information</p>
            </div>
        </div>
    </div>
</div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mb-8">
            <div class="card">
                <h2 class="card-header">About Us</h2>
                <div class="card-body">
                    <p class="card-text">
                        <%= description %>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <h4 class="card-header">Support Us!</h4>
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5joTSfhtGz3w7AD8Gbq_MG1x54hpYdEQHYsTSNvIsaBQCa8h1&usqp=CAU" alt="image to go here">
            <div class="card-body">
                <p class="card-text">Mi ipsum faucibus vitae aliquet nec ullamcorper. Id
                    porta nibh venenatis cras sed felis eget velit aliquet.</p>
            </div>
            <div class="card-footer">
<!--                <a href="#" class="btn btn-main float-right">Donate!</a>-->
                <div id="paypal-button-thingy">

                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=AdCxqsvZVk8XNDLTjmt_tJ43ke7dKQFrPcG8_qpDe4fylQ9NRWyyFH3fF2DqV9QRz1iL-GxMzp8O8R07"></script>
<script>
    paypal.Buttons({
        createOrder: function(data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: "13.73"
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function(details) {
                // This function shows a transaction success message to your buyer.
                alert('Transaction completed by ' + details.payer.name.given_name);
            });
        }
    }).render('#paypal-button-thingy');
    //This function displays Smart Payment Buttons on your web page.
</script>
