<div class="container col-md-6 mb-4" style="text-align: center; padding-top: 30vh; padding-bottom: 30vh;">
    <div class="row">
        <div class="col-md-12">
            <h1>Whoa!</h1>
            <h2>How did you get here!?</h2>
            <p>
                The page you are trying to reach either doesn't exist, or is currently unavailable.
            </p>
            <br>
            <a class="btn btn-dark btn-lg" href="/" role="button"> Back to the Landing Page </a>
        </div>
    </div>
</div>
