
<div class="carousel-inner">
  <!-- Slide One - Set the background image for this slide in the line below -->
  <div class="carousel-item active carousel-conation" id="SarahBody">
    <div class="col-lg-12 text-center">
      <h1 class="display-4 text-white mt-5 mb-2 welcome">Conation</h1>
      <p class="lead mb-5 text-white-50 welcome2">Support now, reap the benefits later.</p>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="container" >
  <h1 class="my-4 welcome">Features</h1>
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100 welcome2">
        <h4 class="card-header">Stay Local</h4>
        <div class="card-body">
          <p class="card-text">Local businesses have been hit hard by this pandemic.</p>
          <p class="card-text">Find out which small businesses are still open near you, and to what capacity you can provide your help.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4 welcome2">
      <div class="card h-100">
        <h4 class="card-header">Quick and Easy</h4>
        <div class="card-body">
          <p class="card-text">We provide a platform for small local business owners to bring their store online and reach customers as easily as possible.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4 welcome2">
      <div class="card h-100">
        <h4 class="card-header">Get Started</h4>
        <div class="card-body">
          <p class="card-text">Click the button below to get started with Conation.</p>
        </div>
        <div class="card-footer">
          <a href="/registration" class="btn btn-main float-right">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  

  <!-- Features Section -->
  <div class="row my-3" id="about">
    <div class="col-lg-6 enterLeft">
      <h1>What is Conation?</h1>
      <p class="lead">Conation strives to help business hit hardest by COVID-19.</p>
      <p>Small business owners are being heavily impacted by the current global pandemic. </p>
      <p>Often beloved, and very important to their local community; local businesses define a neighbourhood’s character and have close relationships with regular customers.</p>
      <p>Unfortunately, staying in business is difficult for these local businesses, as they cannot operate as they usually do. Our application gives each community a way to support their favourite businesses so that they won’t be forced to close.</p>
    </div>
    <div class="col-lg-6 enterRight">
      <img class="img-fluid rounded img-right" src="src/images/Conation_logo.png" alt="conation logo">
    </div>
  </div>
  <!-- /.row -->

  <br>
</div>

<hr>

<!-- PRODUCT INFO BELOW -->
<div class="container" style="text-align: center;">   
  <div>
    <!-- Remo Welcome Message -->
      <!-- <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal welcome">Welcome to Conation</h1>
        <div class="welcome2">
          <p class="lead font-weight-normal">An app designed for locals, by locals.</p>
          <a class="btn btn-secondary" href="/registration" role="button">Get Started</a>
          <a class="btn btn-outline-dark" href="/login">Login</a>
        </div>
      </div> -->

      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      
      <!-- DIV for Product Display -->
      <div class="flex-md-equal w-100 my-md-3 pl-md-3">
        <!-- DIV for Main -->
        <div class=" text-center text-dark overflow-hidden">
          <div class="my-3 py-3 welcome">
            <h2 class="display-5">Shop Local</h2>
            <p class="lead">Find information on all the small businesses near you.</p>
          </div>
          <div class=" mx-auto welcome" >
            <img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2020/04/shelter-dog-cropped-1-632x329.jpg" alt="See business updates" style="width: 80%; border-radius: 21px; ">
          </div>
        </div>

        <!-- DIV for Donations-->
        <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3 welcome">
            <h2 class="display-5">Donate </h2>
            <p class="lead">Support now and reap the benefits later.</p>
          </div>
          <!-- Photo of Donation-->
          <div class="mx-auto welcome">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQpRkbMNO6Np264G228ZEsXkK_b1WUyZISnElbDPGpWV-jNLMPf&usqp=CAU" alt="Donation feature" style="width: 90%; border-radius: 21px; ">
          </div>
        </div>
      </div>
      
      <!-- DIV for Map and Features -->
      <div class="d-md-flex flex-md-equal text-dark w-100 my-md-3 pl-md-3">

        <!-- Map Display -->
        <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden enterLeft">
          <div class="my-3 p-3">
            <h2 class="display-5">Visualize</h2>
            <p class="lead">Conation easily allows any user to view their local businesses with our built-in map.</p>
          </div>
          <div class=" mx-auto" style="width: 100%; border-radius: 21px 21px 0 0;">
            <img src="https://i.imgur.com/VePzdBx.png" alt = "Map" style="width: 100%; border-radius: 21px">
          </div>
        </div>

        <!-- Map Info Display -->
        <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-dark overflow-hidden enterRight">
          <div class="my-3 py-3">
            <h2 class="display-5">Never miss a sale again</h2>
            <p class="lead">With Conation's integrated map, users can see updated business information with just the click of a button.</p>
          </div>
          <div class=" mx-auto" style="width: 100%; border-radius: 21px 21px 0 0; border: none">
            <img src="https://i.imgur.com/IZDVkmD.png" alt="Map with Details" style="width: 100%; border-radius: 21px">
          </div>
        </div>
      </div>

    <br>

    <!-- What are you waiting for DIV -->
    <div class="flex-md-equal w-100 my-md-3 pl-md-3 welcome">
      <h1 class="display-5 font-weight-normal ">What are you waiting for?</h1>
      <br>
      <a class="btn btn-dark btn-lg" href="/registration" role="button">Join the Conation</a>
    </div>
  </div>

<br>
</div>
    <!-- Animated js functions -->
    <script src="/animations.js"></script>





