<div class="my-5 container d-none d-md-block">
    <div class="row justify-content-between">
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5joTSfhtGz3w7AD8Gbq_MG1x54hpYdEQHYsTSNvIsaBQCa8h1&usqp=CAU" alt="image to go here">
                <div class="card-body">
                    <p>Some text here</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5joTSfhtGz3w7AD8Gbq_MG1x54hpYdEQHYsTSNvIsaBQCa8h1&usqp=CAU" alt="image to go here">
                <div class="card-body">
                    <p>Some text here</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5joTSfhtGz3w7AD8Gbq_MG1x54hpYdEQHYsTSNvIsaBQCa8h1&usqp=CAU" alt="image to go here">
                <div class="card-body">
                    <p>Some text here</p>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5joTSfhtGz3w7AD8Gbq_MG1x54hpYdEQHYsTSNvIsaBQCa8h1&usqp=CAU" alt="image to go here">
                <div class="card-body">
                    <p>Some text here</p>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5joTSfhtGz3w7AD8Gbq_MG1x54hpYdEQHYsTSNvIsaBQCa8h1&usqp=CAU" alt="image to go here">
                <div class="card-body">
                    <p>Some text here</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Business Name</div>
                <div class="card-body">
                    <p>Some text here</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-main float-right">Learn More!</a>
                </div>
            </div>
        </div>
    </div>
</div>
