<!-- Donation Carousel -->
<div class="container">
    <div id="donationSlides" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#donationSlides" data-slide-to="0" class="active"></li>
            <li data-target="#donationSlides" data-slide-to="1"></li>
            <li data-target="#donationSlides" data-slide-to="2"></li>
            <li data-target="#donationSlides" data-slide-to="3"></li>
            <li data-target="#donationSlides" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item carousel-two active">
                <img class="d-block w-100 item-img" src="https://images.pexels.com/photos/972995/pexels-photo-972995.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Example Thing</h5>
                    <p>More Info</p>
                </div>
            </div>
            <div class="carousel-item carousel-two">
                <img class="d-block w-100 item-img" src="https://images.pexels.com/photos/826349/pexels-photo-826349.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Example Thing</h5>
                    <p>More Info</p>
                </div>
            </div>
            <div class="carousel-item carousel-two">
                <img class="d-block w-100 item-img" src="src/images/sarahInGhana.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Example Thing</h5>
                    <p>More Info</p>
                </div>
            </div>
            <div class="carousel-item carousel-two">
                <img class="d-block w-100 item-img" src="https://images.pexels.com/photos/972995/pexels-photo-972995.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Fourth slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Example Thing</h5>
                    <p>More Info</p>
                </div>
            </div>
            <div class="carousel-item carousel-two">
                <img class="d-block w-100 item-img" src="https://images.pexels.com/photos/826349/pexels-photo-826349.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Fifth slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Example Thing</h5>
                    <p>More Info</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#donationSlides" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#donationSlides" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- Filter Bar -->
<div class="container">
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="card">
                <form class="form-inline p-3" action="/main" method="post">
                    <input class="form-control mr-sm-2" type="search" id="search" name="search" placeholder="Search...">
                    <input class="btn btn-dark" type="submit" value="Search">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Business Listings -->
<div class="container">
    <% businesses.forEach((business) => { %>
    <div class="row my-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header"> <%= business.name %> | <%= business.category %></div>
                <div class="card-body">
                    <p>
                        <%= business.description %>
                    </p>
                </div>
                <div class="card-footer">
                    <a href='/business/<%= business.id %>' class="btn btn-main float-right">Learn More!</a>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</div>

