<!-- This file is just for testing purposes with the API for now -->
<!-- key= AIzaSyAOG3EpPiavwq5xcbGYHnX9efVUwtPeDcw -->

<div class="container center">
    <br>
    <h1>Here are some businesses near you:</h1>
    <small>Your browser will ask you to share your location, please accept to view locations near you</small>
</div>
<div class="container"id="map" style="height: 70vh; width: 70vw;"></div>

<!-- Map -->
<!--  async defer -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOG3EpPiavwq5xcbGYHnX9efVUwtPeDcw&callback=initMap"></script>
<script src="map.js"></script>
