<div class="container" style="text-align: center;">
  <div class="flex-md-equal w-100 my-md-3 pl-md-3 welcome2">
    <br>

    <h2 class="display-5 font-weight-normal">Are you a customer or a business owner?</h2>
    <br>


  </div>
</div>

<div class="container">
  <div class="row mb-3" id="two-cards">
    <!--Card 1-->
    <div class="col-md-6 mb-4">
      <div class="card registerCustomer">
          <div class="view overlay">
            <img src="https://images.pexels.com/photos/972995/pexels-photo-972995.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    class="card-img-top" id="registration-customer-photo">
          </div>
        <div class="card-body">
          <h4 class="card-title">Customer</h4>
          <p class="card-text">Find out which business are still open and support your favourites.</p>
          <a class="btn btn-dark btn-lg float-right" href="/customer_registration" role="button">Customer</a>
        </div>
      </div>
    </div>

    <!--Card 2-->
    <div class="col-md-6 mb-4">
      <div class="card registerBusiness">
          <div class="view overlay">
            <img src="https://images.pexels.com/photos/826349/pexels-photo-826349.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    class="card-img-top" alt="" id="registration-business-photo">
          </div>
        <div class="card-body">
          <h4 class="card-title">Business Owner</h4>
          <p class="card-text">Get support from locals who need you!</p>
          <br>
          <a class="btn btn-dark btn-lg float-right" href="/business_registration" role="button">Business Owner</a>
        </div>
      </div>
    </div>
  </div>
</div>